@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";

* {
    box-sizing: border-box;
}

:root {
    --primary: #141414;
    --light: #f3f3f3;
    --dark: #686868;
}

main {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
} 

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    background-color: var(--primary);
    color: #fff;
    text-align: center;
}

header {
    
    display: flex;
    justify-content: left;
    background-color: var(--primary);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    color: #fff;
    
}

.xavflix{
    margin-bottom: 0px;  
}
.manuTitle{
    padding-left: 0.5rem;
    
}

.card{
    align-items: center;
    margin: 15px;
}

.cardDesign{
    margin:20px;
    border-radius: 20px;
    position: relative;
    width: 100%;
    box-shadow: #686868 0px 20px 30px -10px;
    transition: 0.5s ease-in-out;
}
.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.card img{
    width: 100%;
    height: 100%;
}
.description{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    background-color: var(--primary-color);
    border-radius: 3px;
    font-weight: bold;
}
.card img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
}

.card img:hover {
    transition: transform 0.3s;
}
.card img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.overview {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 20px 8%;
    backdrop-filter: blur(10px);
    overflow: scroll;
    transition: 0.8s ease;
}

.card:hover .overview {
    opacity: 2;
    height: 100%;
    transition: transform 0.3s;
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);  
    transform: scale(1.0);
    border-radius: 20px;
    
}

*::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
}

  *::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 20px;
}

  *::-webkit-scrollbar-thumb {
    background-color: #DC1A28;
    border-radius: 20px;
    border: 3px solid #141414;
}